@import "../colorvariables.scss";


.alltitsuStyling {
    --digi--navigation-vertical-menu-item--active-indicator-background-color: #41337a;
    --digi--navigation-sidebar--wrapper--background-color: #c2efeb;
    --digi--color--background--inverted-1: #ecfee8;
    --digi--color--text--inverted: #41337a;
    --digi--button--width: 20rem;
    --digi--button--text-align--default: center;
    
}